{% extends 'app.html' %}

{% block title %} {{ template_data.title }} {% endblock %}

{% block content %}
  <div class="text-center mx-auto">
    <h1>Hotel Suite</h1>
    <p class="lead">In this we are going to cover all the topics seen in the Software Engineering course in a single case, which is:</p>
    <p class="lead">Developing a software solution for a hotel. The main objective of the system is to automate and optimize the daily operations of the hotel. The system must be able to handle multiple functions and must be easy to use for both hotel staff and guests.</p>
  </div>
{% endblock %}
