{% extends '../layouts/app.html' %}
{% block title %}{{templateData.title}}{% endblock %}
{% block content %}
<div class="card mb-3 mt-5">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://imgs.search.brave.com/tvuYS1ojA168YBGw_syCk7K-35VJqfrIibBdFS7gZc8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvODQz/ODIzNjU2L3Bob3Rv/L2hvdGVsLXJvb20u/anBnP3M9NjEyeDYx/MiZ3PTAmaz0yMCZj/PTgtWk5BNTJlNUds/UHV1UVBYcVpSZ3NU/TzlXUlp3WmdGdERv/dHlDNkNHSFk9" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    {{ templateData.room.get_type }} - {{ templateData.room.get_number }}
                </h5>
                <p class="card-text"><small class="text-muted">Capacity: {{ templateData.room.get_capacity }}</small></p>
                <p class="card-text"><small class="text-muted">Price: ${{ templateData.room.get_price }}</small></p>
                {% if templateData.room.get_availability == True %}
                <p class="card-text"><small class="text-muted">Status: Available</small></p>
                {% else %}
                <p class="card-text"><small class="text-muted">Status: Unavailable</small></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}